.main-header {
  width: 280px;
  padding: 0 20px;
  
  border: 1px solid red;
  list-style: none;
}
.main-header__intro {
  background-image: url("../img/bg-intro-triangle-mobile.svg"),
  url("../img/bg-back-mobile@1x.jpg");
  background-position: center bottom, center top;
  background-size: 100%, 280px 385px;
  background-repeat: no-repeat;
}
.mobile-list {
  list-style: none;
  background-color: #81b3d2;
}
.mobile-list a {
  text-decoration: none;
}
.mobile-menu__logo {
  order: 2;
}

