.main-header {
  width: 320px;

  border: 1px solid red;
  display: flex;
  flex-direction: column;
}
.main-header__intro {
  background-image: url("../img/bg-intro-triangle-mobile.svg"),
  url("../img/bg-back-mobile@1x.jpg");
  background-position: center bottom, center bottom;
  background-size: 100%, 768px 369px;
  background-repeat: no-repeat;
  min-height: 300px;
  padding-top: 90px;
}
.main-header__intro--pages {

  background-image: url("../img/bg-intro-triangle-mobile.svg"),
  url("../img/bg-back-mobile@1x.jpg");
  background-position: center bottom, center bottom;
  background-size: 100%, 768px 389px;
  background-repeat: no-repeat;
  min-height: 105px;
  padding-top: 0;
}

.main-header__image {
  display: block;
  margin: 0 auto;
  width: 282px;
  height: 214px;
}
.mobile-list {
  background-color: #81b3d2;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  padding: 10px 0;
}
.mobile-list a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-decoration: none;
  padding: 10px 40px 10px 0;
  text-align: center;
}
.mobile-menu__button--close {
  margin-left: 50px;
  background-color: #81b3d2;
  border: none;
}
.mobile-menu__logo {
  display: inline-block;
  margin-left: 70px;
  margin-bottom: 0;
  position: relative;

}
.mobile-menu__button--open {
  position: absolute;
  top: 10px;
  margin-left: 28px;
  background-color: #ffffff;
  border: none;
}
