.main-header {
  width: 320px;

  border: 1px solid red;
  display: flex;
  flex-direction: column;
}
.main-header__intro {
  background-image: url("../img/bg-intro-triangle-mobile.svg"),
  url("../img/bg-back-mobile@1x.jpg");
  background-position: center bottom, center bottom;
  background-size: 100%, 768px 369px;
  background-repeat: no-repeat;
  min-height: 300px;
  padding-top: 90px;
}
.main-header__intro--pages {

  background-image: url("../img/bg-intro-triangle-mobile.svg"),
  url("../img/bg-back-mobile@1x.jpg");
  background-position: center bottom, center bottom;
  background-size: 100%, 768px 389px;
  background-repeat: no-repeat;
  min-height: 105px;
  padding-top: 0;
}

.main-header__image {
  display: block;
  margin: 0 auto;
  width: 282px;
  height: 214px;
}
.mobile-list {
  background-color: #81b3d2;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  padding: 10px 0;
}
.mobile-list a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-decoration: none;
  padding: 10px 40px 10px 0;
  text-align: center;
}
.mobile-menu__wrapper {
  display: flex;
  position: relative;
  min-height: 60px;
}
.mobile-menu__logo {
  position: absolute;
  margin-left: 70px;
  margin-bottom: 0;


}
.mobile-menu__button {
  position: absolute;
  top: 10px;
  margin-left: 250px;
  background-color: #ffffff;
  border: none;
}
@media (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
  .mobile-menu {
    width: 100%;
    min-height: 50px;
    position: relative;
  }
  .mobile-list a {
    color: black;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0;
    padding-left: 6%;
    padding-right: 6%;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  .mobile-list li {
    width: 20%;
  }
  /*.mobile-menu__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .mobile-list li:nth-child(3),
  .mobile-list li:nth-child(4) {
    text-align: right;
  }
  .mobile-list li:nth-child(2) {
    margin-right: 10%;
  }
  .mobile-list li:nth-child(3) {
    margin-left: 10%;
  }*/
}
