
.main-footer {
  width: 280px;
  padding: 0 20px;
  background-color: #fefefe;
  border: 1px solid green;

}
.main-footer__contacts {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  padding: 0 60px;

}

.main-footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 40px;
  text-decoration: none;
}
.main-footer__logo span{
  border: 1px solid red;
  font-size: 14px;
  color: black;
}
.main-footer__logo img {
  border: 1px solid black;
}
@media (min-width: 768px) {
  .main-footer {
    width: auto;
    padding: 36px 0;
    display: flex;
    align-items: baseline;

  }
  .social {
    width: 33%;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
  }
  .main-footer__contacts {
    width: 33%;
    padding: 0 0 0 20px;
    margin-right: 0;
  }
  .main-footer__copyright {
    width: 33%;
    display: flex;
    padding: 0;
  }
}
