
.main-footer {
  width: 280px;
  padding: 0 20px;
  background-color: yellow;
  border: 1px solid green;
  list-style: none;
  text-decoration: none;
}
.main-footer__social {
  list-style: none;
  text-decoration: none;
}
