
.page-photo {
   width: 280px;
  padding: 0 20px;
  background-color: #ffffff;
  border: 1px solid red;
}
.page-photo__content {
  list-style: none;
}
.page-photo__title,
.invitation__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: black;
}
.page-photo__text,
.invitation__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}
.content-list__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}
.content-list__item h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: black;
}

.button.button--play {
  margin-left: 140px;
}
