.page-main {
  width: 320px;
  background-color: #ffffff;
  border: 1px solid red;
  list-style: none;
}
.page-main__title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin: 40px 0;
}
.page-main__subtitle {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-bottom: 30px;
}
.advantages-list {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}

.more-advantages h2,
.advantages-list__item h2 {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.more-advantages p,
.advantages-list__item p,
.advantages-list__item b {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.more-advantages {
  list-style: none;
  text-decoration: none;
  text-align: center;

  display: flex;
  flex-direction: column;
  margin-left: 0;
  box-sizing: border-box;

}
.more-advantages__item {
  border: 1px solid red;
  margin-left: 0;
  text-align: center;
  display: flex;
}
.more-advantages__image {
  border: 1px solid black;
  margin-bottom: 50px;
}
.more-advantages__point {
  text-align: left;
  margin-left: 20px;
}
.advantages-list__city,
.advantages-list__diabolo {
  background-color: #81b3d2;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;

}
.advantage-list__wrapper {
  display: flex;
  flex-direction: column;

}
.advantages-list__item {
  background-color: #eeeeee;
  text-align: center;
  vertical-align: top;
  padding: 10px 10px;

}
.advantages-list__item:not(:nth-child(3)) {
  border-bottom: 1px solid lightgrey;
}
.advantages-list__text {
  padding-bottom: 15px;
}
.advantages-list__image {

}
.page-main__request {
  text-align: center;
  margin-bottom: 50px;
}
.request__hotel-button {
  width: 280px;
  background-color: #81b3d2;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 10px 35px;
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 10px;
}
.request__title {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.request__subtitle {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 20px;
}
.page-main__map {
  margin-bottom: 20px;
  position: relative;
}
.map__image--point {
  position: absolute;
  top: 50%;
  left: 50%;
}
